@media screen and (max-width: 900px) {
  section,
  footer {
    padding: 50px 50px;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  nav {
    padding: 0 50px;
  }

  .title h1 {
    font-size: 42px;
  }

  .btn-socials {
    flex-direction: column;
    gap: 10px;
  }

  /* ==== PROJECTS SECTION ==== */

  .projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    justify-content: center;
  }

  /* ==== CONTACT SECTION ==== */

  .contact-section {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  #logo p {
    font-size: 30px;
  }
  .home {
    gap: 10px;
  }
  .title h1 {
    font-size: 32px;
  }

  .about p,
  .btn-socials button {
    font-size: 16px;
  }

  .btn-socials button {
    gap: 5px;
  }

  .contact-section > div {
    margin: 10px 0;
  }

  .contact-section {
    padding-bottom: 0;
  }

  .text-one {
    font-size: 18px;
  }

  /* ==== BTNS FOOTER  ==== */
  .btns {
    display: flex;
    flex-direction: column;
  }

  .btns button {
    width: 100%;
  }

  .btns button:first-child {
    margin-bottom: 10px;
  }

  .top {
    margin-right: 20px;
  }
}
