@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #fdfdfd;
  --main-color: #303030;
  --gray-buttons: #616467;
  --lightgray: #d3d3d3;

  --secondary-color: #000;

  --info-title: "Cormorant Garamond", sans-serif;
  --body-and-paragraph: "Poppins", sans-serif;

  --title-size: 64px;

  --paragraph-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin-inline: auto;
  font-family: var(--body-and-paragraph);
  line-height: 1.54;
  background-color: var(--bg-color);
  color: var(--main-color);
  scroll-behavior: smooth;
  animation: transitionIn 0.75s;
  cursor: url(assets/svg/cat.svg), auto;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

section,
footer {
  padding: 100px 100px;
}

/* DESKTOP NAV */

.logo {
  font-family: var(--logo-font);
}

nav {
  padding: 0 100px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 12vh;

  border-bottom: 1px solid var(--main-color);
  border-image: linear-gradient(
      to left,
      var(--secondary-color) 50%,
      transparent 50%
    )
    100% 1;
}

.nav-links {
  gap: 36px;
  list-style: none;
  font-size: 20px;
}

a {
  color: var(--main-color);
  text-decoration: none;
  text-decoration-color: white;
}

.logo {
  font-family: var(--info-title);
  font-size: 36px;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  width: 35px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg-color);
  width: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  box-shadow: 0 0 0 1px var(--main-color), 4px 4px 0 0 var(--main-color);
}

.menu-links a {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.closed {
  display: none;
}

.menu-links.open {
  display: block;
  max-height: 300px;
  margin-top: 20px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(1px, 6px);
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(1px, -6px);
}

/* ==== HOME ==== */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-bottom: 1px solid var(--secondary-color);
  border-image: linear-gradient(
      to right,
      var(--secondary-color) 50%,
      transparent 50%
    )
    100% 1;
  transition: ease-in-out;
}

.title h1 {
  font-size: var(--title-size);
  font-family: var(--info-title);
  text-align: center;
  letter-spacing: 5px;
  transition: ease-in-out 2ms;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about p {
  font-size: var(--paragraph-size);
  text-align: center;
}

.btn-socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.btn-socials button {
  font-size: 20px;
  font-family: var(--info-title);
  color: var(--main-color);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}
/* PROJECTS */

.wrapper {
  width: auto;
  border-bottom: 1px solid var(--secondary-color);
  border-image: linear-gradient(
      to right,
      var(--secondary-color) 50%,
      transparent 50%
    )
    100% 1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
  justify-content: center;
}

.section-header {
  margin-bottom: 40px;
}

.project-title {
  margin-bottom: 20px;
  text-align: right;
  text-transform: uppercase;
}

.project {
  position: relative;
  border: 1px solid var(--main-color);
}

.project h2,
.description {
  padding: 20px;
}

.description {
  margin-bottom: 60px;
}

figure img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--secondary-color);
}

.btn-git {
  margin: 0 0 20px 20px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
}

.btn-git:hover {
  color: var(--bg-color);
  background-color: var(--main-color);
  transform: translateX(10px);
}

.btn-section {
  display: grid;
  margin-top: 50px;
  justify-content: center;
}

.btn {
  position: relative;
  border: 1px solid var(--main-color);
  color: var(--color);
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn a:hover {
  color: var(--bg-color);
  background-color: var(--main-color);

  transform: translateX(10px);
  transition: 0.2s ease-in-out;
}

/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 0;
}

.contact-section > div {
  margin: 10px 0;
}

.text-one {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.text-two {
  color: var(--p-color);
}

.text-three {
  color: var(--p-color);
  font-size: 15px;
}

.btns {
  display: flex;
  flex-direction: row;
}

.btns button {
  display: inline-block;
  margin-right: 30px;
  padding: 15px 32px;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: var(--gray-buttons);
  border: 2px solid var(--gray-buttons);
  background-color: transparent;
  height: 48px;
}

.btns button:hover {
  color: var(--bg-color);
  background-color: var(--gray-buttons);
}

.text-three {
  color: var(--gray);
  font-size: 15px;
}

.top {
  float: inline-end;
  margin-bottom: 20px;
  z-index: 1;
  text-decoration: none;
  padding: 6px 20px 6px 20px;
  font-family: var(--body-font);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  white-space: nowrap;
}
